@charset "UTF-8";
body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #33006A;
    background-color:aliceblue	
		}
		h1, h2, h3, h4, h5, h6 {
    color:#33006A;
			padding-left: 10%;
			padding-right:10%
				
		}
p {
	padding-left:10%;
	padding-right: 10%
}

.centerAlign {
	display: block;
	margin-left: auto;
	border-radius: 40%;
	margin-right: auto;
	
}
.leftAlign {
		float: left;
	padding-right: 1px;
	padding-bottom: 10px
}
a {
	color: #7A00FF}
a:hover {
	color:black
	
}

footer {
	padding: 5%;
	padding-left: 1%;
	background-color: #C4E7FF;
		color: #390070
}
header {
	background-color: #C4E7FF;
	padding-top:10%;
	padding-bottom:10%
}
.button a{
	background-color: #33006A;
	padding:10px;
	text-decoration:none;
	border-radius: 50%;
	color: #EEF8FF
		
}
	
.button a{
	color: #EEF8FF
}
.button a:hover{
	background-color:#C4E7FF;
	color: #390070
}
section {
    
	background-color: aliceblue;
	background-image: url(moroccan-flower.png);	
	background-blend-mode:luminosity;
	padding-bottom: 10px;
    padding-top: 10px;
}

img{
	opacity: 100%
}